rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Highly permissive rules because there is no Google Authentication implemented.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
